.home-container {
    min-height: 80vh;
    padding-top: 100px;
    padding-bottom: 100px;
}
.home-content {
    text-align: center;
}
.home-img {
    width: 350px;
}
.home-details{ 
    font-family: "Montserrat";
    display: inline-block;
    width: 400px;
    text-align: left;
    vertical-align: middle;
    padding: 20px;
}
.home-details ul{ 
    font-family: "Raleway";
    list-style-position: inside;
    list-style-type: none;
    padding: 20px;
}
.home-details ul>li{ 
    margin: 7.5px;
    font-weight: 600;
}
.home-image {
    display: inline-block;
    width: 350px;
    vertical-align: middle;
}